<!DOCTYPE html>{% extends 'base.html' %} {% block content %}
<h2>Resource</h2>

<table class="table">

    <tr>
        <th> Name</th>
        <th>type</th>
        <th>resource URL</th>
        <th>EntryDate</th>

    </tr>
    {% for Resources in resource_list %}
    <tr>
        <td>{{ Resources.resourcename}}</td>
        <td>{{ Resources.resourcetype}}</td>
        <td>{{ Resources.ResourceURL}}</td>
        <td>{{ Resources.entrydate}}</td>




    </tr>
    {% endfor %}
</table>
{% endblock %}